# visual studio code
.vscode/
.idea/

# python
venv/
virtualenv/
__pycache__/

# misc
.DS_Store

# results
*.mp3
*.mp4
*.wav

# notebook checkpoints
.ipynb_checkpoints

# path
!autoguichu/*
log/*
misc/*
data/*
*.pyc
test/*
